# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates